<template name="EncLayout">
    <div id="wrapper">
        <div class="overlay"></div>

            <main class="app-layout">
                <div class="row pie">
                    <img class="logoheader" src="/Logotipo.png" alt="logotipo">
                    <hr>
                </div>
                {{> Template.dynamic template=main}}
                <div class="row pie">
                    <hr>
                    <img style="display: inline" class="feder" src="/feder.svg" alt="fondos feder"><p>Quality Soft © 2.017 First Book</p>
                </div>
            </main>

    </div>
</template>